.missionstatement{
    display: flex;
    overflow: hidden;
    position: relative;
    height:450px;

    .missionstatement_video{
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .statement_button{
        font-family: sans-serif;
        font-weight: bold;
        font-size: 50px;
        text-align: center;
        padding: 0px 10px;
        margin:auto;
        color:white;
        // position: center;
        // top:25%;
        // left:75%;
        z-index: 1;
        button{ 
            background-color: #FFCDB2;
            height: 50px;
            width: 200px;
            padding:10px 10px;
            margin-bottom:15px;
            color: maroon;
            font-size: 25px;
            font-family: sans-serif;
            font-weight: bold;
            border:none;
            border-radius:5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #B5838D; /* Green */
            color: white;
            transition: 0.5s ease-in-out;
        }
    }
}


.mission{
    background-color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    .h1{
        position: relative;
        max-width: 500px;
        margin: 10px auto;
        text-align: center;
      }
      
      h1:before{
        content:" ";
        height: 5px;
        width: 150px;
        background: #B5838D;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
      }
      
      h1:after{
        content:" ";
        height: 5px;
        width: 150px;
        background: #B5838D;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
      }
    p{
        font-size: 15px;  
    }
}

.about{
    display: flex;
    height: 250px;
    .aboutUsPageHeader{
        background-color: #B5838D;
        color: white;
        height: 100%;
        width:  30%;
        text-align: center;
    }
    .aboutUsPageParagraph{
        background-color: #FFCDB2;
        color: white;
        height: 100%;
        width:  70%;
        text-align: center;
    }

}
